@mixin flex-container($direction: null , $justify:null , $align: null , $gap: null) {
    display: flex;
    @if $direction != null{
        flex-direction: $direction;
    }
    @if $justify != null{
        justify-content: $justify;
    }
    @if $align != null{
        align-items: $align;
    }
    @if $gap != null{
        gap: $gap;
    }
      
  }